@model acmManager.Web.Models.Admin.UserProfileViewModel


<div class="overflow-auto">
    <table class="table table-hover" id="certificate-table">
        <thead><tr>
            <th scope="col">@L("Certificate.Name")</th>
            <th scope="col">@L("Certificate.Level")</th>
            <th scope="col">@L("Certificate.AwardDate")</th>
            <th scope="col">@L("Certificate.Attachment")</th>
            <th scope="col">@L("Certificate.Delete")</th>
        </tr></thead>
        <tbody>
            @foreach (var cer in Model.Certificate)
            {
                <tr>
                    <th scope="row">@cer.Name</th>
                    <td>@L(cer.Level.ToString())</td>
                    <td>@cer.AwardDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        <button class="btn btn-block" onclick="location.href = '@(cer.File.FilePath)'">
                            <img class="custom-icon" src="~/img/download.svg" alt=""/>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-block" data-toggle="modal" data-target="#delete-certificate-modal-@cer.Id">
                            <img class="custom-icon" src="~/img/delete.svg" alt=""/>
                        </button>
                        <div class="modal fade" id="delete-certificate-modal-@cer.Id">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"> 你确定吗 </div>
                                    <div class="modal-body"> 此操作不可逆 ！！ </div>
                                    <form asp-action="DeleteCertificate" method="post">
                                        <input type="hidden" name="certificateId" value="@cer.Id">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default delete-certificate-dismiss" data-dismiss="modal">取消</button>
                                            <button type="button" class="btn btn-danger btn-ok delete-certificate-submit">确认</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
