@using acmManager.Users.Dto

@await Html.PartialAsync("User/_UserFilter")
@if (Model.Users != null)
{
    <div class="overflow-auto mt-3">
        <table class="table table-hover">
            <thead><tr>
                <th scope="col">@L("UserInfo.StudentNumber")</th>
                <th scope="col">@L("UserInfo.Name")</th>
                <th scope="col">@L("UserInfo.Gender")</th>
                <th scope="col">@L("UserInfo.Org")</th>
                <th scope="col">@L("UserInfo.StudentType")</th>
                <th scope="col">@L("UserInfo.Type")</th>
            </tr></thead>
            <tbody>
            @foreach (UserDto userInfo in Model.Users)
            {
                <tr>
                    <th scope="row">@(userInfo.StudentNumber ?? "null")</th>
                    <td>@(userInfo.Name ?? "null")</td>
                    <td>@L(userInfo.Gender.ToString())</td>
                    <td>@(userInfo.Org ?? "null")</td>
                    <td>@(userInfo.StudentType ?? "null")</td>
                    <td>@L(userInfo.Type.ToString())</td>
                </tr>
            }
            </tbody>
        </table>
    </div><hr/>
    <nav aria-label="Page navigation" style="display: none" id="get-all-user-page-footer" class="overflow-auto"> </nav>
}
