@using acmManager.Web.Controllers
@using acmManager.Authorization
@using Abp.Notifications
@using Abp
@using Abp.Runtime.Session
@using acmManager
@inject UserController UserController
@inject UserNotificationManager UserNotificationManager

@{
}

<nav class="my-2 my-md-0 mr-md-3 noSelect">
    @if (AbpSession.UserId != null)
    {
        var nCnt = (await UserNotificationManager.GetUserNotificationsAsync(new UserIdentifier(AppConsts.DefaultTenant, AbpSession.GetUserId()), UserNotificationState.Unread)).Count();
        @if (nCnt != 0)
        {
            <a class="p-2 text-dark underlineHover noSelect" href="@Url.Action("Index", "Notification")">
                通知 <span class="badge rounded-pill badge-danger" style="margin-bottom: 2px;"> @nCnt </span>
            </a>
            <span>|</span>
        }
    }
    <a class="p-2 text-dark underlineHover noSelect" href="@Url.Action("Index", "Article")">文章</a> <span>|</span>
    <a class="p-2 text-dark underlineHover noSelect" href="@Url.Action("Index", "Problem")">题解</a> <span>|</span>
    <a class="p-2 text-dark underlineHover noSelect" href="@Url.Action("Index", "Contest")">比赛列表</a> <span>|</span>
    @if (AbpSession.UserId != null)
    {
        @if (IsGranted(PermissionNames.PagesUsers_Admin))
        {
            <a class="p-2 text-dark underlineHover" href="@Url.Action("Index", "Admin")">Administrator</a>
            <span>|</span>
        }
    }
    else
    {
        <a class="p-2 text-dark underlineHover user-login" href="#"
           onclick="location.href='@Url.Action("Login", "Account")?returnUrl=' + location.pathname">
            登录
        </a>
    }
</nav>