@using acmManager.Authorization
@using acmManager.File
@using acmManager.Web.Controllers
@using Abp.Runtime.Session
@inject FileAppService FileAppService
@{
    var userPhoto = (await FileAppService.GetUserPhotoAsync(AbpSession.GetUserId()))?.FilePath ?? UserController.DefaultUserPhoto;
}

<div class="dropdown">
    <button class="btn btn-default" type="button" id="menu1" data-toggle="dropdown">
        <img src="@userPhoto" alt="" class="userPhoto">
    </button>
    <div class="dropdown-menu dropdown-menu-right noSelect" role="menu" aria-labelledby="menu1">
        <button class="dropdown-item" onclick="window.location.href = '@Url.Action("UserProfile", "User")'">
            <i class="fa fa-user fa-fw"> </i> 我的资料
        </button>
        <button class="dropdown-item" onclick="window.location.href = '@Url.Action("MainPage", "User")'">
            <i class="fa fa-home fa-fw"> </i> 我的主页
        </button>
        <button class="dropdown-item" onclick="window.location.href = '@Url.Action("Index", "Problem", new {user=AbpSession.GetUserId()})'">
            <i class="fa fa-code fa-fw"> </i> 我的题解
        </button>
        <button class="dropdown-item" onclick="window.location.href = '@Url.Action("Index", "Article", new {user=AbpSession.GetUserId()})'">
            <i class="fa fa-blog fa-fw"> </i> 我的文章
        </button>
        @if (IsGranted(PermissionNames.PagesUsers_Certificate))
        {
            <button class="dropdown-item" onclick="window.location.href = '@Url.Action("Index", "Certificate")'">
                <i class="fa fa-award fa-fw"> </i> 我的证书
            </button>
        }
        <hr/>
        <button class="dropdown-item" onclick="window.location.replace('@Url.Action("Logout", "Account")')">
            <i class="fa fa-sign-out-alt fa-fw"> </i> 登出
        </button>
    </div>
</div>
