@using acmManager.Web.Models.Shared
@using acmManager.Web.Controllers
@model acmManager.Web.Models.Shared.ArticleViewModel


<table class="table table-hover">
    @if (Model.Search)
    {
        <thead>
        <tr>
            <th>
                <button class="btn btn-success" onclick="location.href = '@Url.Action("Edit", "Article")'">
                    写文章
                </button> </th>
            <th>
                <div class="input-group">
                    <input type="hidden" value="@Model.Filter.UserId" id="search-article-user">
                    <input type="text" class="form-control" placeholder="Search..." id="search-article-content" value="@Model.Filter.Keyword">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" id="search-article-btn">
                            <i class="fa fa-search"> </i>
                        </button>
                    </div>
                </div>
            </th>
        </tr></thead>
    }
    <tbody>
    @foreach (var x in Model.Articles.Articles)
    {
        <tr>
            <td class="vertical-center" style="width: 176px;">
                @await Html.PartialAsync("Template/_CreatorTag", new CreatorViewModel(x.CreatorUserId, x.CreationTime))
            </td>
            <td class="vertical-center" onclick="location.href = '@Url.Action("GetArticle", "Article", new {ArticleId = x.Id})'">
                <span class="font-weight-bold" style="font-size: 20px"> @x.Title </span>
            </td>
        </tr>
    }
    </tbody>
</table>
@if (Model.Search)
{
    <hr/>
    @await Html.PartialAsync("Template/_Pagination", new PaginationViewModel
    {
        MaxResultCount = Model.Filter?.MaxResultCount ?? ArticleController.PageSize,
        SkipCount = Model.Filter?.SkipCount ?? 0,
        AllResultCount = Model.Articles.AllResultCount,
        LinkGenerator = p => Url.Action("Index", "Article", new
        {
            page = p,
            keyword = Model.Filter.Keyword,
            user = Model.Filter.UserId
        })
    })
}
