@using acmManager.File
@using acmManager.Users
@using acmManager.Web.Controllers
@inject FileAppService FileAppService
@inject UserAppService UserAppService
@model acmManager.Web.Models.Shared.CreatorViewModel

@{
    var userPhoto = (await FileAppService.GetUserPhotoAsync(Model.CreatorId))?.FilePath ?? UserController.DefaultUserPhoto;
    var userInfo = await UserAppService.GetUserInfoAsync(Model.CreatorId);

    const string contentCenter = "display: flex; justify-content: center; align-items: center";

    var mainPage = Url.Action("MainPage", "User", new {UserId = Model.CreatorId});
}

<span class="noSelect">
    <div class="row" style="margin: inherit;" onclick="location.href = '@mainPage'">
        <div class="pt-2">
            <img class="userPhoto" src="@userPhoto" alt="">
        </div>
        <div class="ml-2" style="@(Model.ShowEmail | Model.ShowCreationTime ? "" : contentCenter)">
            <div style="font-weight: bold;"> @userInfo.Name </div>
            @if (Model.ShowEmail && !Model.ShowCreationTime)
            {
                <a class="sub-text" href="mailto:@userInfo.Email"> @userInfo.Email </a>
            }
            else if (Model.ShowCreationTime && !Model.ShowEmail)
            {
                <span class="sub-text"> @Model.CreationTime.ToString("yyyy-MM-dd HH:mm") </span>
            }
        </div>
    </div>
</span>
