@model acmManager.Web.Models.Shared.PaginationViewModel

<nav aria-label="Page navigation pagination" class="overflow-auto">
    @{
        var index = Model.SkipCount / Model.MaxResultCount + 1;
        var indexStart = Math.Max(1, index - 3);
        var indexEnd = (Model.AllResultCount + Model.MaxResultCount - 1) / Model.MaxResultCount;
    }
    <ul class="pagination justify-content-end mt-3 mr-0">
        <div class="text-right mr-3" style="color: #8c8c8c; margin: auto">
            Result Count: @(Model.AllResultCount)
        </div>
        @if (index == 1)
        {
            <li class="page-item disabled"><a class="page-link page-first" href="#">First</a></li>
            <li class="page-item disabled"><a class="page-link page-previous" href="#">Previous</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link page-first" href="@Model.LinkGenerator(1)">First</a></li>
            <li class="page-item"> <a class="page-link page-previous" href="@Model.LinkGenerator(index - 1)">Previous</a> </li>
        }
        @foreach (var i in Enumerable.Range(indexStart, 7))
        {
            @if (i > indexEnd)
            {
                break;
            }

            @if (i == index)
            {
                <li class="page-item active"><a class="page-link" href="#">@i</a></li>
            }
            else
            {
                <li class="page-item"> <a class="page-link page-index" href="@Model.LinkGenerator(i)">@i</a> </li>
            }
        }
        @if (index == indexEnd)
        {
            <li class="page-item disabled"><a class="page-link page-next" href="#">Next</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link page-next" href="@Model.LinkGenerator(index + 1)">Next</a></li>
        }
    </ul>
</nav>


