@model acmManager.Web.Models.Shared.CommentToViewModel

@section styles
{
    <link rel="stylesheet" href="~/editor.md/css/editormd.min.css">
    <link rel="stylesheet" href="~/css/editor.css">
}

@section scripts
{
    <script src="~/editor.md/editormd.min.js"></script>
    
    <environment include="Development">
        <script src="~/js/editor.js"></script>
        <script src="~/view-resources/Views/Shared/Comment.js"></script>
    </environment>
    
    <environment exclude="Development">
        <script src="~/view-resources/Views/_Bundles/editor.min.js"></script>
        <script src="~/view-resources/Views/_Bundles/comment.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "CommentTo: " + Model.CommentTitle;
}

<div class="content-container">
    <h4> COMMENT TO:
        <a class="underlineHover" href="@Model.CommentToLink">
            @Model.CommentTitle
        </a>
    </h4>
    <hr/>
    <form action="@Url.ActionLink("CommentToArticle", "Article")" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="ArticleId" value="@Model.ArticleId">
        <input type="hidden" name="ReplyToCommentId" value="@Model.ReplyToCommentId">
        <input type="hidden" name="ReturnUrl", value="@Model.ReturnUrl">
        <div id="comment-content">
            <textarea hidden name="Content">@Model.ContentInit</textarea>
        </div>

        <div class="text-right mt-3 noSelect" style="margin: inherit">
            <button class="btn btn-primary ml-2" style="letter-spacing: 2px">@L("Submit")</button>
        </div>
    </form>
</div>
